.border{border: 1px solid #ededed;}
.article_con{ padding: 45px 0px 100px;overflow: hidden;}
.article_con .article_header{font-size: 13px; padding-bottom: 20px;height: 30px;line-height: 30px;padding-top: 20px;margin-bottom: 20px;}
/* 标签 */
/* h3 */
.article_con .article_left{width: 820px;float: left;}
.article_con .article_left .article_title{font-size: 36px;color: #000;font-weight: bold;}
/* 图标 */
.article_left .noto{padding-top: 15px;font-size: 14px;}
.article_left .noto span{margin-left: 8px; position: relative;padding-left: 22px;}
.article_left .noto span i{margin-right: 3px; display: inline-block;width: 20px;height: 20px;position: absolute;left: 0;}
.noto span .fa_editor{background: url(../img/flower_deltitle/小图标.png);background-size: cover;}
.noto span .fa_calendar{background: url(../img/flower_deltitle/小图标2.png);background-size: cover;}
.article_left .article_neiro{line-height: 24px;font-size: 14px;text-align: justify;margin-top: 25px;}
.neiro_tupian img{width: 400px;height: 400px;display: inline-block;}
.neiro_tupian {text-align: center;}
.article_neiro a{color:  #b2904c;}
.article_tag{padding-top: 35px; overflow: hidden;}
.article_tag ul li{margin: 8px 5px;float: left}
.article_tag ul li a{padding: 6px 10px;border: 1px solid #d2d2d2;border-radius: 5px;font-size: 14px;text-align: center;display: inline-block;color: #333;}
.baikeprevnext{padding-top: 30px;font-size: 14px;}
.baikeprevnext .baikeother{padding: 5px 0;}
.taste{padding-top: 70px;}
.rbox_bar{color: #404040;font-size: 20px;font-weight: bold;}
.taste .rec_goods{margin-top: 10px;}
.taste .rec_goods li{float: left;width: 258px;margin: 10px 20px 20px 0;border: 1px solid #fff;background: #fff;position: relative;text-align: center;}
.taste .rec_goods li .p_img{display: block; overflow: hidden;width: 258px;height: 258px;}
.taste .rec_goods li .p_img img{    width: 100%; transition: all 0.2s;}
.taste .rec_goods li .p_img img:hover{    transform: scale(1.05);}
.taste .rec_goods li .flower_name{display: block;height: 20px;padding: 8px 0px;line-height: 2;}
.taste .rec_goods li .price{color: #b2904c;}
.taste .rec_goods li:nth-child(3) {margin-right: 0px;}
.taste .rec_goods li:nth-child(6) {margin-right: 0px;}
.article_right{width: 330px;float: right;}
.article_right .huayu_rbox{background-color: #fafafa;}
.huayu_rbox .rbox_bar{height: 30px;padding: 20px 0;position: relative;}
.huayu_rbox .rbox_bar .title{height: 30px;line-height: 30px;padding-left: 15px;display: inline-block;font-size: 20px;color: #333;border-left: 5px solid #c4a66a;}
.rbox_body{padding: 0 20px 20px 20px;}
.clearfix_border li{line-height: 40px;height: 40px;overflow: hidden;font-size: 14px;border-bottom: 1px dashed #aba9a9;}
.clearfix_border li a{display: block;overflow: hidden;text-align: left;transition: all 0.2s;white-space: nowrap;text-overflow: ellipsis;}
.clearfix_border li a:hover{transform:translate3d(8px,0,0);}
.hei20{height: 20px;}
.huayu_hot_label{overflow: hidden;}
.huayu_hot_label .clearfix_2 li{margin: 8px 5px;float: left;} 
.huayu_hot_label .clearfix_2 li a{ padding: 6px 8px;border: 1px solid #d2d2d2;border-radius: 5px; font-size: 14px;text-align: center;display: inline-block;color: #333;} 





